/* src/styles/HomePage.css */
.homepage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.map-container {
  flex: 3;
  height: 100%;
  position: relative; /* for absolute search bar inside */
}
