html, body, #root {
  height: 100%;
  margin: 0;
}

.homepage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.map-container {
  flex: 1;
  height: 100%;
  width: 100%;
}